body {
  background:
    linear-gradient(to right, transparent 10%, white 27%, white 73%, transparent 90%),
    url("../img/img-1-mirror.jpg") left,
    url("../img/img-2.jpg") right -100px top 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 750px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  position: relative;
  margin-top: 11px; 
  margin-bottom: 22px;    
}

.logo {  
  float:left;
  font-family: "Italianno", serif;
  font-size: 83px;
}

.main-menu {
  float: right;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 30px;  
  font-family: "Philosopher", sans-serif;
  font-size: 30px;    
}

.main-menu li:last-child {
  margin-right: 0;
}

.main-menu a {
  text-decoration: none;
  color: crimson;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main div {
  display: inline-block;
  padding: 4px;
  margin-bottom: 8px;
}

main div:hover > b {
  text-shadow: 1px 1px 1px crimson;
}

main  b, main span {
  display: block;
  text-align: center;  
}

main b {
  font-family: "Cuprum", serif;
  font-size: 15px;
}

main span {
  font-size: 11px;
  color: gray
}

main article {  
  display: none;
  position: absolute;
  top: 150px;
  left: 33%;
  z-index: 3;
  
  font-family: "Philosopher", serif;
  font-size: 15px;  
}

main > div:hover + article {
  display: block;
}

h1.about, h1.music {
  display: block;
  margin: 75px auto;  
  font-family: "Neucha", sans-serif;
  font-size: 38px; 
}