body {
  /*background:
  url("../img/img-1-mirror.jpg") top left fixed no-repeat,
  url("../img/img-2.jpg") top right fixed no-repeat;*/
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



.main-header {
  margin: 50px auto; 
  
  
}
.logo {
  float:left;
  font-family: serif;
  font-size: 100px;
}

.main-menu {
  float: right;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 20px;  
  font-family: sans-serif;
  font-size: 40px;  
}
.main-menu li:last-child {
  margin-right: 0;
}

.main-menu a {
  text-decoration: none;
  color: crimson;
}


main > div/*:nth-child(1):hover*/ + article {
  display: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main div {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

main div:hover > b {
  text-shadow: 1px 1px 1px  red;
}

main  b, main span {
  display: block;
  text-align: center;  
}

main b {
  font-family: serif;
  font-size: 18px;
}

main span {
  font-size: 14px;
  color: gray
}