body {
  /*background:
  url("../img/img-1-mirror.jpg") top left fixed no-repeat,
  url("../img/img-2.jpg") top right fixed no-repeat;*/
 
}

.left-back, .right-back {
  position: fixed;  
   width: 50%;
  height: 100%;
  
}

.left-back { 
  top: 0;
  left: 0;
}

.right-back {
  top: 0;
  right: 0;
}
.right-back img {
  position: fixed;
  right: -150px;
}

.overlay { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
    transparent 10%, white 30% , white 70%, transparent 90%)
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



.main-header {
  margin-top: 25px; 
  margin-bottom: 40px;
  position: relative;
  
  
}
.logo {
  
  float:left;
  font-family: serif;
  font-size: 100px;
}

.main-menu {
  float: right;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 20px;  
  font-family: sans-serif;
  font-size: 40px;  
}
.main-menu li:last-child {
  margin-right: 0;
}

.main-menu a {
  text-decoration: none;
  color: crimson;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main div {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

main div:hover > b {
  text-shadow: 1px 1px 1px  crimson;
}

main  b, main span {
  display: block;
  text-align: center;  
}

main b {
  font-family: serif;
  font-size: 18px;
}

main span {
  font-size: 14px;
  color: gray
}

main article {  
  display: none;
  position: absolute;
  top: 200px;
  left: 40%;
  z-index: 3;
  
}

main > div:hover + article {
  display: block;
}


